<form [formGroup]="form" (submit)="save()">
  <p>User validators fields</p>

  <input
    style="width: 220px"
    type="text"
    formControlName="name"
    placeholder="Search a free email"
  >

  <button [disabled]="form.invalid || form.pending">
    Send
    <span *ngIf="form.get('name').pending"> (searching)</span>
  </button>

  <p
    style="color: red"
    *ngIf="form.get('name').errors?.emailExists">This email is already in use.
  </p>

  <hr>

  <p><a href="https://www.linkedin.com/in/andre-luis-soares-alves/" target="_blank">Visit my perfil on the Linkedin!</a>
  </p>

</form>
